* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 85%;
}

body {
	background-color: #f9f9f9;
	font: 400 1.2rem/2rem 'Open Sans', sans-serif;
}

h1 {
	font: 600 2rem/4rem 'Open Sans', sans-serif;
}

h2 {
	font: 600 1.6rem/3rem 'Open Sans', sans-serif;
	margin-bottom: 2rem;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
	margin-bottom: 1rem;
}

label {
	display: inline-block;
	min-width: 100px;
	font: 600 1rem/2rem 'Open Sans', sans-serif;
}

input {
	font: 400 1.2rem 'Open Sans', sans-serif;
	padding: 0.2rem 0.5rem;
	margin-bottom: 1rem;
}

input:focus {
	outline: 0;
}

select {
	width: 20.5rem;
	padding: 0.2rem 0.5rem;
	font: 400 1.3rem 'Open Sans', sans-serif;
	border: 1px solid #999;
	margin-bottom: 1rem;
	background: url('../img/down_arrow.png') no-repeat right #ddd;
	border-radius: 0;
	-webkit-appearance: none;
}

select:focus {
	outline: 0;
}

button,
input[type=submit] {
	min-width: 100px;
	float: left;
	margin-top: 1rem;
	margin-right: 1rem;
    background-color: #fff;
    color: #000;
	font: 400 1.2rem 'Open Sans', sans-serif;
    border: 2px solid #000;
    padding: 0.4rem 1rem;
    transition: background-color 0.2s, color 0.2s;
}

button:hover,
input[type=submit]:hover {
    background-color: #000;
    color: #fff;
	font: 400 1.2rem 'Open Sans', sans-serif;
    padding: 0.4rem 1rem;
}

button:active,
button:focus,
input[type=submit]:active,
input[type=submit]:focus {
	outline: 0;
    background-color: #999;
    color: #fff;
}

.container {
	width: 90%;
	max-width: 1100px;
	margin: auto;
	padding: 1rem 0;
}

.wrapper-categories {
	max-width: 500px;
}

.wrapper-events {
	max-width: 1200px;
}

.home-link {
	margin-top: 1.5rem;
}

.table {
	margin: 1rem auto;
	border-collapse: collapse;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.table-header .header-row {
	background-color: #333;
	color: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.row,
.header-row {
	width: 100%;
	display: flex;
	align-items: center;
	background-color: #fff;
	padding: 0.5rem;
	border-top: 1px solid #eee;
}

.row-category {
	background-color: rgba(255, 98, 0, 0.2);
	color: #ff6200;
	padding-left: 1rem;
}

.big-cell {
	width: 400px;
}

.medium-cell {
	width: 200px;
}

.small-cell {
	width: 80px;
}

.cell {
	padding: 0 0.5rem;
	justify-content: center;
	min-width: 50px;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.orange {
	color: #ff6200;
	font: 600 1.6rem/3rem 'Open Sans', sans-serif;
}

.error {
	color: #ff0000;
	position: relative;
	top: -1rem;
}

.icon {
	position: relative;
	top: 0.3rem;
	width: 2rem;
	height: 2rem;
	opacity: 0.7;
}

.icon:hover {
	opacity: 1;
}

.flash {
	font: 400 1.2rem/2rem 'Open Sans', sans-serif;
	color: #00aeb2;
	background-color: rgba(0, 174, 178, 0.1);
	border: 2px solid rgba(0, 174, 178, 1);
	margin: 1rem auto;
	padding: 1rem;
}

.flash::after {
	position: relative;
	float: right;
	color: #000;
	opacity: 0;
	content: 'Close';
}

.flash:hover::after {
	opacity: 1;
}


/* Link */
.underline,
.underline:hover,
.underline:visited,
.underline:focus,
.underline:active {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	cursor: pointer;
	transition-delay: 0s;
	transition-duration: 0.3s;
	transition-property: border-color;
	transition-timing-function: ease-out;
}

.underline {
	color: #ff6200;
	border-bottom-color: rgba(255, 98, 0, 0);
}

.underline:hover,
.underline:focus {
	border-bottom-color: rgba(255, 98, 0, 1);
}

.underline:active {
	color: #ff0000;
	border-bottom-color: rgba(255, 0, 0, 1);
}
