{% extends "layout.html" %}
{% block content %}

<h1>Categories</h1>
<h2>Edit a category</h2>

<div class="wrapper-categories">

	<form action="{{ url_for('editCategory', category_id=cat.id) }}" method="POST">

		<ul>
			<li>{{ form.name.label }} {{ form.name(size=25, placeholder=cat.name) }}</li>

			{% if form.name.errors %}
				{% for error in form.name.errors %}
					<span class="error">{{ error }}</span>
				{% endfor %}
			{% endif %}

		</ul>
		<input type="submit" value="Send">

	</form>

    <a href="{{ url_for('showCategories') }}"><button>Back</button></a>

</div>

{% endblock %}
