{%- block header -%}

<nav>

	<div class="nav-home">
		<a href="{{ url_for('home') }}" class="underline negative">Home</a>
	</div>

	<div class="nav-data"></div>

	<div class="nav-login">
		{%- if session.username -%}
		<div>
			<span class="user">{{ session.username }}</span>
			<a href="{{ url_for('logout') }}" class="underline negative">Logout</a>
		</div>
		{%- else -%}
		<a href="{{ url_for('signin') }}" class="underline negative">Sign In</a> -
		<a href="{{ url_for('login') }}" class="underline negative">Log In</a>
		{%- endif -%}
	</div>

</nav>

{%- endblock -%}
