{%- block bar -%}

<div>
    <h3>Events</h3>
    <div>
        <a href="{{ url_for('showEvents') }}" class="underline">Show Events</a>
    </div>
    <div>
        <a href="{{ url_for('newEvent') }}" class="underline">Add Event</a>
    </div>

    <h3>Categories</h3>
    <div>
        <a href="{{ url_for('showCategories') }}" class="underline">Show Categories</a>
    </div>
    <div>
        <a href="{{ url_for('newCategory') }}" class="underline">Add Category</a>
    </div>

    <!-- get flash messages -->
    {%- with messages = get_flashed_messages() -%}
    {%- if messages -%}
    {%- for message in messages -%}
    <div class="flash">
        <div class="flash-message">{{ message }}</div>
    </div>
    {%- endfor -%}
    {%- endif -%}
    {%- endwith -%}

</div>

{%- endblock -%}