{%- extends "layout.html" -%}
{%- block content -%}

<h1>{{ action_name }}</h1>

<div class="wrapper-categories">

	<form action="{{ url_for(action) }}" method="POST">
		<ul>
			<li>{{ form.username.label }} {{ form.username(size=10) }}
				{%- if form.username.errors -%}
				{%- for error in form.username.errors -%}
				<span class="error">{{ error }}</span>
				{%- endfor -%}
				{%- endif -%}
			</li>
			<li>{{ form.password.label }} {{ form.password(size=10) }}
				{%- if form.password.errors -%}
				{%- for error in form.password.errors -%}
				<span class="error">{{ error }}</span>
				{%- endfor -%}
				{%- endif -%}
			</li>
		</ul>
		<input type="submit" value="Send">
	</form>

    <a href="{{ url_for('home') }}"><button>Home</button></a>

</div>

{%- endblock -%}