{% extends "layout.html" %}
{% block content %}
    <h1>Categories</h1>

    <div class="wrapper-categories">
        <!-- get flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <p class="flash">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% if categories %}
        <div class="table-header">
            <div class="header-row">
                <div class="cell wide-cell">Name</div>
                <div class="cell narrow-cell center">Edit</div>
                <div class="cell narrow-cell center">Delete</div>
            </div>
        </div>

        <div class="table">
            {% for category in categories %}
            <div class="row">
                <div class="cell wide-cell">{{ category.name }}</div>
                <div class="cell narrow-cell center">
                    <a href="{{ url_for('editCategory', category_id=category.id) }}">
                        <img src="{{ url_for('static', filename='img/edit.svg') }}" class="icon" alt="Edit">
                    </a>
            </div>
                <div class="cell narrow-cell center">
                    <a href="{{ url_for('deleteCategory', category_id=category.id) }}">
                        <img src="{{ url_for('static', filename='img/delete.svg') }}" class="icon" alt="Delete">
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <a href="{{ url_for('newCategory') }}"><button>Create</button></a>
        <a href="{{ url_for('home') }}"><button>Back</button></a>
    </div>
{% endblock %}