{% extends "layout.html" %}
{% block content %}
    <h1>Events</h1>

    <div class="wrapper-events">
        <!-- get flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <p class="flash">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% if events %}
        <div class="table-header">
            <div class="header-row">
                <div class="cell wide-cell">Event</div>
                <div class="cell wide-cell">Location</div>
                <div class="cell wide-cell">Date</div>
                <div class="cell narrow-cell center">Edit</div>
                <div class="cell narrow-cell center">Delete</div>
            </div>
        </div>

        <div class="table">
            {% for event in events %}
            <div class="row">
                <div class="cell wide-cell">{{ event.name }}</div>
                <div class="cell wide-cell">{{ event.location }}</div>
                <div class="cell wide-cell">{{ event.date.strftime('%d/%m/%Y') }}</div>
                <div class="cell narrow-cell center">
                    <a href="{{ url_for('editEvent', event_id=event.id) }}">
                        <img src="{{ url_for('static', filename='img/edit.svg') }}" class="icon" alt="Edit">
                    </a>
                </div>
                <div class="cell narrow-cell center">
                    <a href="{{ url_for('deleteEvent', event_id=event.id) }}">
                        <img src="{{ url_for('static', filename='img/delete.svg') }}" class="icon" alt="Delete">
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <a href="{{ url_for('newEvent') }}"><button>Create</button></a>
        <a href="{{ url_for('home') }}"><button>Back</button></a>
    </div>
{% endblock %}