{%- extends "layout.html" -%}
{%- block content -%}
    <h1>Categories</h1>

    <div class="wrapper-categories">
        {%- if categories -%}
        <div class="table-header">
            <div class="header-row">
                <div class="cell tiny-cell"></div>
                <div class="cell big-cell">Name</div>
                <div class="cell small-cell center">Events</div>
                <div class="cell small-cell center">Edit</div>
                <div class="cell small-cell center">Delete</div>
            </div>
        </div>

        <div class="table">
            {%- for category in categories -%}
            <div class="row">
                <div class="cell tiny-cell unfold more" data-id="{{ category.id }}"></div>
                <div class="cell big-cell">{{ category.name }}</div>
                <div class="cell small-cell center">{{ category.count_events }}</div>
                <div class="cell small-cell center">
                    {%- if category.user_id == session.user_id -%}
                    <a href="{{ url_for('editCategory', category_id=category.id) }}">
                        <img src="{{ url_for('static', filename='img/edit.svg') }}" class="icon" alt="Edit">
                    </a>
                    {%- endif -%}
                </div>
                <div class="cell small-cell center">
                    {%- if category.user_id == session.user_id -%}
                    <a href="{{ url_for('deleteCategory', category_id=category.id) }}">
                        <img src="{{ url_for('static', filename='img/delete.svg') }}" class="icon" alt="Delete">
                    </a>
                    {%- endif -%}
                </div>
            </div>
            <div class="members" data-category={{ category.id }}></div>
            {%- endfor -%}
        </div>
        {%- endif -%}
        
        {%- if session.username -%}
        <a href="{{ url_for('newCategory') }}"><button>Create</button></a>
        {%- endif -%}
    </div>
{%- endblock -%}